# Caches and histories and logs
**/*.history
**/*.cache
**/*.log

# Icon caches
**/SVGIcons.cache.serial

# UI files
**/*.ui
**/*.ui.3

# Keymap overrides
**/*.keymap.overrides

# Help cache
/config/Help/

# HDA Library backup
/otls/backup/

# Internal web browser cache
/QtWebEngine/

/config/Dialogs/
/hud.pref

# Miscs
/vhda.config
/palette
/scriptedpalette
/lopedit.json
/lopscenegraphdetails.json
/hchanneleditor.pref

# Asset store
/asset_store

# Backup files
backup/